<div class="container">
  <div class="content-holder">
    <div class="col-md-9">
      <h1>Sign in</h1>

      <hr>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="email_address">Email Address</label>
            <input type="password" id="email_address" name="email_address" class="form-control">
          </div>
          <div class="form-group">
            <label for="confirm_email_address">Confirm Email address</label>
            <input type="password" id="confirm_email_address" name="confirm_email_address" class="form-control">
          </div>
          <div class="form-group">
            <button class="btn" role="submit" type="submit">Sign in </button>
          </div>
        </div>
        <div class="col-md-6 options">

          <p>Having trouble?</p>

          <hr>
          <button class="btn btn-alt btn-success">Forgot Password</button>
          <button class="btn btn-alt btn-success">Register now</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">

      <h4>Questions?</h4>
      <p>We're here to help answer your questions or take your application over the phone.</p>
      <span>(888) 828-5717</span>
      <p><a href="email-support">Email support</a></p>
      <p><a href="click-to-chat">Click to Chat</a></p>
    </div>
  </div>
</div>

