<div class="app-footer" role="footer">
  <div class="container">

    <div class="col-md-3">
      
      <h3>Small business loans</h3>
      <ul>
        <li><a href="">Business loans</a></li>
        <li><a href="">Terms loans</a></li>
        <li><a href="">Line of Credit</a></li>
        <li><a href="">Loan Qualifications</a></li>
      </ul>
    </div>
    <div class="col-md-3">

      <h3>About Zunde</h3>
      <ul>
        <li><a href="">Why Zunde</a></li>
        <li><a href="">Zunde News </a></li>
        <li><a href="">Investors</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Security Policy</a></li>
      </ul>
    </div>

    <div class="col-md-3">

      <h3>Partner With Us</h3>
      <ul>
        <li><a href="">Partner with us</a></li>
        <li><a href="">Enterprise Platform</a></li>
        <li><a href="">Referral Program</a></li>
      </ul>
    </div>
    <div class="col-md-3">

      <h3>Get in touch</h3>
      <ul>
        <li><a href="">Support</a></li>
      </ul>

    </div>




  </div>
</div>