<div class="container">
    <div class="content-holder">
        <div class="col-md-9">
            <h1>Update Your Account</h1>

            <hr>
            <form class="signup_form">
                <div id="errorBox" class="hidden">
                    Your information needs to be updated
                </div>

                <div class="form-group">
                    <h3>Your Email Address</h3>
                    <hr>
                    <div class="field">
                        ku-da@hotmail.co.uk <span class="edit">(edit)</span>
                    </div>
                </div>

                <div class="form-group">
                    <h3>Your Password</h3>
                    <hr>
                    <div class="field">
                        .......... <span class="edit">(edit)</span>
                    </div>
                </div>

                <div class="form-group">

                    <button class="btn btn-primary" type="submit">Update</button>
                </div>


            </form>

            <h4>
                Other settings
            </h4>

            <hr>

            <button class="btn btn-primary">Connect your bank account</button>
        </div>
        <div class="col-md-3">

            <h4>Questions?</h4>
            <p>We're here to help answer your questions or take your application over the phone.</p>
            <span>(888) 828-5717</span>
            <p><a href="email-support">Email support</a></p>
            <p><a href="click-to-chat">Click to Chat</a></p>
        </div>
    </div>
</div>