<div class="container">
  <!--<section class="progress">
      <div class="row">
          <progress id="progress-bar" min="1" max="100" value="0"></progress>
          <span class="first border-change"></span>
          <span class="second"></span>
          <span class="third"></span>
          <span class="fourth"></span>
          <p class="percent">0% Complete</p>
      </div>
  </section>-->
  <section class="page-content">
    <div class="breadcrumb-box">
      <div class="blueArrowCrumb">
        <div><i class="fa fa-caret-right" aria-hidden="true"></i>Basics</div>
      </div>
      <div class="greyArrowCrumb">
        <div><i class="fa fa-caret-right" aria-hidden="true"></i>Your Business</div>
      </div>
      <div class="greyArrowCrumb">
        <div><i class="fa fa-caret-right" aria-hidden="true"></i>About You</div>
      </div>
      <div class="greyArrowCrumb">
        <div class="active"><i class="fa fa-caret-right" aria-hidden="true"></i>Bank Statements</div>
      </div>
    </div>
    <div class="pageHeader--inner">

      <div class="hero">
        <h1>
          Thank you for your application!
        </h1>

        <hr>
        <h4>We are reviewing your information, but need some additional details. Please submit the documents below - you're still on track for a fast decision.</h4>
      </div>

      <div class="country-selector">

      </div>
    </div>
    <div class="documentUpload">
        <h3>Required documents</h3>

      <h4>Bank statements</h4>
      <p>We need statements from your business checking account for the most recent 3 months.</p>
      <p>Your review will be fastest if you upload the original PDF files downloaded from your bank.</p>

      <ul>

        <li>Jun 2016</li>
        <li>Jul 2016</li>
        <li>Aug 2016</li>

        <div class="form-group">
          <button class="btn" role="submit" type="submit">Upload</button>
        </div>

        <span>Submit statements with online banking account</span>
      </ul>
    </div>
  </section>
</div>