<div class="container">
  <!--<section class="progress">
      <div class="row">
          <progress id="progress-bar" min="1" max="100" value="0"></progress>
          <span class="first border-change"></span>
          <span class="second"></span>
          <span class="third"></span>
          <span class="fourth"></span>
          <p class="percent">0% Complete</p>
      </div>
  </section>-->
  <section class="page-content">
    <div class="breadcrumb-box">
      <div class="blueArrowCrumb">
        <div class="active"><i class="fa fa-caret-right" aria-hidden="true"></i>Basics</div>
      </div>
      <div class="greyArrowCrumb">
        <div><i class="fa fa-caret-right" aria-hidden="true"></i>Your Business</div>
      </div>
      <div class="greyArrowCrumb">
        <div><i class="fa fa-caret-right" aria-hidden="true"></i>About You</div>
      </div>
      <div class="greyArrowCrumb">
        <div><i class="fa fa-caret-right" aria-hidden="true"></i>Bank Statements</div>
      </div>
    </div>
    <div class="pageHeader--inner">

      <div class="hero">
        <h1>
          Small Business Financing from Zunde!
        </h1>
        <p>Get approved today and have money in your account within 48 hours</p>
      </div>

      <div class="country-selector">

      </div>
    </div>
    <div class="applyComponent">
      <form (ngSubmit)="applyNow(ApplyNowForm.value, ApplyNowForm.valid)" name="ApplyNowForm" [formGroup]="ApplyNowForm" method="post">
        <div class="form-group">
          <label for="email_address">Email Address *</label>
          <input type="text" id="email_address" name="email_address" class="form-control" formControlName="username" required>
          <small class="has-error" *ngIf="ApplyNowForm.get('username').hasError('required') &&  ApplyNowForm.get('username').touched">Enter your email address</small>
        </div>

        <fieldset formGroupName="loan_details">
          <div class="form-group">
            <label for="desired_amount">How much would you like to borrow*</label>
            <select class="form-control" id="desired_amount" name="desired_amount" tabindex="1" data-validate="true" formControlName="desired_amount" required>
              <option value="$5000_to_$10000" selected>$5,000 - $10,000</option>
              <option value="$10000_to_$15000">$10,000 - $15,000</option>
              <option value="$15000_to_$20000">$15,000 - $20,000</option>
              <option value="$20000_to_$25000">$20,000 - $25,000</option>
              <option value="$25000_to_$30000">$25,000 - $30,000</option>
              <option value="$30000_to_$35000">$30,000 - $35,000</option>
              <option value="$35000_to_$50000">$35,000 - $50,000</option>
              <option value="$50000_to_$75000">$50,000 - $75,000</option>
              <option value="$75000_to_$150000">$75,000 - $150,000</option>
              <option value="$150000_to_$250000">$150,000 - $250,000</option>
              <option value="$250000_plus">More than $250,000</option>
            </select>
            <small class="has-error" *ngIf="ApplyNowForm.get('loan_details').get('desired_amount').hasError('required') &&  ApplyNowForm.get('loan_details').get('desired_amount').touched">Please select how much would you like to borrow!</small>
          </div>
          <div class="form-group">
            <label for="date_required">How soon do you need the money?*</label>
            <select class="form-control" id="date_required" include_blank="false" name="date_required" tabindex="2" data-validate="true" formControlName="date_required" required>
              <option value="IMMEDIATLEY" selected>Immediately</option>
              <option value="ONE_WEEK">1 week</option>
              <option value="THIRTY_DAYS">30 days</option>
              <option value="MORE_THAN_THIRTY_DAYS">More than 30 days</option>
            </select>
            <small class="has-error" *ngIf="ApplyNowForm.get('loan_details').get('date_required').hasError('required') &&  ApplyNowForm.get('loan_details').get('date_required').touched">Please select when you want to use the loan!</small>
          </div>
          <div class="form-group">
            <label for="loan_use">How will you use the loan?*</label>
            <div class="checkboxes">
              <div class="media">
                <input type="radio" value="BUYING_EQUIPMENT" data-validate="true" formControlName="loan_use" id="BUYING_EQUIPMENT">
                <label for="BUYING_EQUIPMENT">Buying equipment</label>
              </div>
              <div class="media">
                <input type="radio" value="REMODELING/EXPANSION" data-validate="true" formControlName="loan_use" id="REMODELING/EXPANSION">
                <label for="REMODELING/EXPANSION">Remodeling/Expansion</label>
              </div>

              <div class="media">
                <input type="radio" value="REFINANCING_DEBT" data-validate="true" formControlName="loan_use" id="REFINANCING_DEBT">
                <label for="REFINANCING_DEBT">Refinancing debt</label>
              </div>

              <div class="media">
                <input type="radio" value="HIRING_EMPLOYEES" data-validate="true" formControlName="loan_use" id="HIRING_EMPLOYEES">
                <label for="HIRING_EMPLOYEES">Hiring employees</label>
              </div>

              <div class="media">
                <input type="radio" value="PURCHASING_INVENTORY" data-validate="true" formControlName="loan_use" id="PURCHASING_INVENTORY">
                <label for="PURCHASING_INVENTORY">Purchasing inventory</label>
              </div>

              <div class="media">
                <input type="radio" value="MARKETING" data-validate="true"  id="MARKETING" formControlName="loan_use">
                <label for="MARKETING">Marketing</label>
              </div>

              <div class="media">
                <input type="radio" value="OTHER" id="OTHER" data-validate="true" formControlName="loan_use">
                <label for="OTHER">Other</label >
              </div>
              
            </div>
            <small class="has-error" *ngIf="ApplyNowForm.get('loan_details').get('loan_use').hasError('required') &&  ApplyNowForm.get('loan_details').get('loan_use').touched">Please select when would you use the loan!</small>
          </div>
        </fieldset>
        <hr>
        <fieldset formGroupName="person_details" novalidate>
          <div class="form-group">
            <label for="first_name">First Name*</label>
            <input type="text" id="first_name" name="first_name" class="form-control" formControlName="first_name" required>
            <small class="has-error" *ngIf="ApplyNowForm.get('person_details').get('first_name').hasError('required') &&  ApplyNowForm.get('person_details').get('first_name').touched">Enter your name</small>
          </div>
          <div class="form-group">
            <label for="last_name">Last Name*</label>
            <input type="text" id="last_name" name="last_name" class="form-control" formControlName="last_name" required>
            <small class="has-error" *ngIf="ApplyNowForm.get('person_details').get('last_name').hasError('required') &&  ApplyNowForm.get('person_details').get('last_name').touched">Enter your last name</small>
          </div>
          <div class="form-group">
            <label for="contact_number">Contact Number*</label>
            <input type="text" id="contact_number" name="contact_number" class="form-control" formControlName="contact_number" required>
            <small class="has-error" *ngIf="ApplyNowForm.get('person_details').get('contact_number').hasError('required') &&  ApplyNowForm.get('person_details').get('contact_number').touched">Enter your best contact number</small>
          </div>

        </fieldset>
        <hr>
        <div class="form-group">
          <label for="how_did_you_hear_about_us">How did you hear about us?</label>
          <input type="text" id="how_did_you_hear_about_us" name="how_did_you_hear_about_us" class="form-control" formControlName="how_did_you_hear_about_us">
        </div>

        <pre>{{ ApplyNowForm.value | json }}</pre>

        <div class="form-group">
          <button class="btn" role="submit" type="submit" [disabled]="ApplyNowForm.invalid">Continue</button>
        </div>
      </form>

      <p class="terms">By clicking “Continue”, you (i) consent to receiving calls and messages, including autodialed calls for marketing purposes, from Zunde or its representatives or agents at the telephone number provided above (including mobile telephone number), and acknowledge that no purchase of credit or services is contingent upon such consent; and (ii) acknowledge that you have read Zunde’s Application Agreement and Zunde’s Privacy Policy and understand that you may opt out of receiving communications of your choice from Zunde as provided in the Privacy Policy.</p>
    </div>
  </section>
</div>
