<div class="container">
    <!--<section class="progress">
        <div class="row">
            <progress id="progress-bar" min="1" max="100" value="0"></progress>
            <span class="first border-change"></span>
            <span class="second"></span>
            <span class="third"></span>
            <span class="fourth"></span>
            <p class="percent">0% Complete</p>
        </div>
    </section>-->
    <section class="page-content">
        <div class="breadcrumb-box">
            <div class="blueArrowCrumb">
                <div><i class="fa fa-caret-right" aria-hidden="true"></i>Basics</div>
            </div>
            <div class="greyArrowCrumb">
                <div class="active"><i class="fa fa-caret-right" aria-hidden="true"></i>Your Business</div>
            </div>
            <div class="greyArrowCrumb">
                <div><i class="fa fa-caret-right" aria-hidden="true"></i>About You</div>
            </div>
            <div class="greyArrowCrumb">
                <div><i class="fa fa-caret-right" aria-hidden="true"></i>Bank Statements</div>
            </div>
        </div>
        <div class="pageHeader--inner">

            <div class="hero">
                <h1>
                    Business Information
                </h1>
            </div>

            <div class="country-selector">

            </div>
        </div>
        <div class="applyComponent">
            <form (ngSubmit)="applyNow(ApplyNowForm.value, ApplyNowForm.valid)" name="ApplyNowForm" [formGroup]="ApplyNowForm" method="post">
                <hr>
                <div class="form-group">
                    <label for="legal_name">Legal Business Name</label>
                    <input type="text" id="legal_name" name="legal_name" class="form-control" formControlName="legal_name">
                </div>
                <div class="form-group">
                    <label for="other_names">Do you do business under a different name?</label>
                    <br><br>
                    <span>Yes<input class="other_names" name="other_names" type="radio" value="true"></span>
                    <span>No<input class="other_names" name="other_names" type="radio" value="no"></span>

                </div>
                <div class="form-group">
                    <label for="business_address">Business Address</label>
                    <input type="text" id="business_address" name="business_address" class="form-control">
                </div>
                <div class="form-group">
                    <label for="post_code">Post code</label>
                    <input type="text" id="post_code" name="post_code" class="form-control">
                </div>
                <div class="form-group">
                    <label for="business_phone">Business Phone</label>
                    <input type="text" id="business_phone" name="business_phone" class="form-control">
                </div>
                <div class="form-group">
                    <label for="business_start_date">What year did you start your business?</label>
                    <input type="text" id="business_start_date" name="business_start_date" class="form-control">
                </div>
                <div class="form-group">
                    <label for="legal_type">Legal Entity Type</label>
                    <select class="form-control" id="legal_type" name="legal_type">
                        <option value=""></option>
                        <option value="Sole Proprietor">Sole Proprietor</option>
                        <option value="Limited Liability Company (LLC)">Limited Liability Company (LLC)</option>
                        <option value="Corporation">Corporation</option>
                        <option value="General Partnership">General Partnership</option>
                        <option value="Limited Partnership (LP)">Limited Partnership (LP)</option>
                        <option value="Limited Liability Partnership (LLP)">Limited Liability Partnership (LLP)</option>
                        <option value="Non-Profit">Non-Profit</option>
                    </select>
                </div>
                <hr>
                <div class="form-group">
                    <label for="business_tax_id">Business Tax ID</label>
                    <p>We use this to confirm your business' identity and that you are the owner.</p>

                    <ul>
                        <li>Can be found at the top right of your tax return.</li>
                    </ul>
                    <input type="text" id="business_tax_id" name="business_tax_id" class="form-control">
                </div>
                <hr>
                <div class="form-group">
                    <label for="estimated_gross_revenue">Estimated Gross Annual Revenue</label>
                    <p>We use this to determine your overall business performance</p>
                    <input type="text" id="estimated_gross_revenue" name="estimated_gross_revenue" class="form-control">
                </div>
                <hr>

                <div class="form-group">
                    <label for="average_bank_balance">Average Bank Balance</label>
                    <p>We use this to determine what you can afford to pay back.</p>

                    <ul>
                        <li>At the end of a typical day, what do you expect to see in your primary business account?</li>
                        <li>One way to estimate this is by looking at the ending balance from your previous bank statement.</li>
                    </ul>
                    <input type="text" id="average_bank_balance" name="average_bank_balance" class="form-control">
                </div>

                <div class="form-group">
                    <button class="btn" role="submit" type="submit">Continue</button>
                </div>
            </form>

            <p class="terms">By clicking “Continue”, you (i) consent to receiving calls and messages, including autodialed calls for marketing purposes, from Zunde or its representatives or agents at the telephone number provided above (including mobile telephone number), and acknowledge that no purchase of credit or services is contingent upon such consent; and (ii) acknowledge that you have read Zunde’s Application Agreement and Zunde’s Privacy Policy and understand that you may opt out of receiving communications of your choice from Zunde as provided in the Privacy Policy.</p>
        </div>
    </section>
</div>