<div class="container">
  <!--<section class="progress">
      <div class="row">
          <progress id="progress-bar" min="1" max="100" value="0"></progress>
          <span class="first border-change"></span>
          <span class="second"></span>
          <span class="third"></span>
          <span class="fourth"></span>
          <p class="percent">0% Complete</p>
      </div>
  </section>-->
  <section class="page-content">
    <div class="breadcrumb-box">
      <div class="blueArrowCrumb">
        <div><i class="fa fa-caret-right" aria-hidden="true"></i>Basics</div>
      </div>
      <div class="greyArrowCrumb">
        <div><i class="fa fa-caret-right" aria-hidden="true"></i>Your Business</div>
      </div>
      <div class="greyArrowCrumb">
        <div  class="active"><i class="fa fa-caret-right" aria-hidden="true"></i>About You</div>
      </div>
      <div class="greyArrowCrumb">
        <div><i class="fa fa-caret-right" aria-hidden="true"></i>Bank Statements</div>
      </div>
    </div>
    <div class="pageHeader--inner">

      <div class="hero">
        <h1>
          About You
        </h1>
        <p>We’ll use this information to review your personal credit report. Not the owner? Contact Us.</p>
      </div>

      <div class="country-selector">

      </div>
    </div>
    <div class="applyComponent">
      <form action="">
        <hr>
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input type="text" id="first_name" name="first_name" class="form-control">
        </div>
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input type="text" id="last_name" name="last_name" class="form-control">
        </div>
        <div class="form-group">
          <label for="home_address">Home address</label>
          <input type="text" id="home_address" name="home_address" class="form-control">
        </div>
        <div class="form-group">
          <label for="post_code">Post code</label>
          <input type="text" id="post_code" name="post_code" class="form-control">
        </div>
        <div class="form-group">
          <label for="home_phone">Home phone</label>
          <input type="text" id="home_phone" name="home_phone" class="form-control">
        </div>
        <div class="form-group">
          <label for="date_of_birth">Date of Birth</label>
          <input type="text" id="date_of_birth" name="date_of_birth" class="form-control">
        </div>
        <div class="form-group">
          <label for="business_share">How much of the business do you own?</label>
          <input type="text" id="business_share" name="business_share" class="form-control">
        </div>
        <hr>
        <div class="form-group">
          <label for="social_security_number">Social security number</label>
          <p>We need your full Social Security Number. This is required so we can verify your identity.</p>

          <input type="text" id="social_security_number" name="social_security_number" class="form-control">
        </div>
        <hr>

        <div class="form-group">
          <span><input class="other_names" id="other_names" name="other_names" type="radio" value="true">By checking here you agree that you have read and agree to OnDeck’s Application Agreement</span>
        </div>

        <div class="form-group">
          <span><input class="other_names" id="other_names" name="other_names" type="radio" value="true">By checking here you agree that you have read and agree to OnDeck’s E-sign Consent Agreement</span>

        </div>

        <div class="form-group">
          <button class="btn" role="submit" type="submit" (click)="nextStep()">Continue</button>
        </div>
      </form>

      <p class="terms">By clicking “Continue”, you (i) consent to receiving calls and messages, including autodialed calls for marketing purposes, from Zunde or its representatives or agents at the telephone number provided above (including mobile telephone number), and acknowledge that no purchase of credit or services is contingent upon such consent; and (ii) acknowledge that you have read Zunde’s Application Agreement and Zunde’s Privacy Policy and understand that you may opt out of receiving communications of your choice from Zunde as provided in the Privacy Policy.</p>
    </div>
  </section>
</div>