<div class="container">
  <div class="content-holder">
    <div class="col-md-9">
      <h1>Register</h1>

      <hr>

      <div class="row">
        <div class="col-md-6">

          <form (ngSubmit)="f.form.valid && register(username.value, password.value)" novalidate name="RegisterForm" #f="ngForm">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" class="form-control" #username required placeholder="yours@example.com">
              <div *ngIf="f.submitted && !username.valid" class="has-error">Username is required</div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" name="password" #password required placeholder="Enter Password">
              <div *ngIf="f.submitted && !password.valid" class="has-error">Password is required</div>
            </div>

            <div class="form-group">
              <label for="confirm_password">Confirm Password</label>
              <input type="confirm_password" id="confirm_password" name="confirm_password" class="form-control" #confirm_password required placeholder="Confirm password">
              <div *ngIf="f.submitted && !password.valid" class="has-error">Password is required</div>
            </div>
            <div class="form-group">
              <button class="btn" role="submit" type="submit" >Register</button>
            </div>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          </form>
        </div>
        <div class="col-md-6 options">
        </div>
      </div>
    </div>
    <div class="col-md-3">


      <div class="questions">
        <h4>Questions?</h4>
        <p>We're here to help answer your questions or take your application over the phone.</p>
        <span>(888) 828-5717</span>
        <p><a href="email-support">Email support</a></p>
        <p><a href="click-to-chat">Click to Chat</a></p>

      </div>

    </div>
  </div>
</div>
