<div class="container">
  <div class="content-holder">
    <div class="col-md-9">
      <h1>Register</h1>

      <hr>

      <div class="row">
        <div class="col-md-8">

          <form (ngSubmit)="register(RegisterForm.value, RegisterForm.valid)" novalidate name="RegisterForm" [formGroup]="RegisterForm">
            <div class="form-group">
              <label for="username">Email</label>
              <input
                      type="text"
                      id="username"
                      name="username"
                      class="form-control"
                      #username
                      required
                      placeholder="yours@example.com"
                      formControlName="username"
                      validateEmail
              >
              <small class="has-error" *ngIf="RegisterForm.get('username').hasError('required') &&  RegisterForm.get('username').touched">Enter your email</small>
              <br>
              <small class="has-error" *ngIf="RegisterForm.get('username').hasError('validateEmail') &&  RegisterForm.get('username').touched">Please enter a valid email address</small>
            </div>

            <hr>
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input
                      type="first_name"
                      id="first_name"
                      class="form-control"
                      required
                      placeholder="John"
                      formControlName="first_name"
              >
              <small class="has-error" *ngIf="RegisterForm.get('first_name').hasError('required') &&  RegisterForm.get('first_name').touched">Enter your first name</small>
            </div>
            <div class="form-group">
              <label for="last_name">Last Name</label>
              <input
                      type="text"
                      id="last_name"
                      class="form-control"
                      required
                      placeholder="Doe"
                      formControlName="last_name"
              >
              <small class="has-error" *ngIf="RegisterForm.get('last_name').hasError('required') &&  RegisterForm.get('last_name').touched">Enter your last name</small>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                      type="password"
                      id="password"
                      class="form-control"
                      name="password"
                      required
                      placeholder="Enter Password"
                      formControlName="password"
                      autocomplete="off"
                      validateEqual="confirmPassword" reverse="true"
              >
              <small class="has-error" *ngIf="RegisterForm.get('password').hasError('required') &&  RegisterForm.get('password').touched">Please enter a password</small>
            </div>


            <div class="form-group">
              <label for="confirm_password">Confirm Password</label>
              <input
                      type="password"
                      id="confirm_password"
                      class="form-control"
                      required
                      placeholder="Confirm password"
                      autocomplete="off"
                      formControlName="confirm_password"
                      validateEqual="password"
              >
              <small class="has-error" *ngIf="RegisterForm.get('confirm_password').hasError('validateEqual') &&  RegisterForm.get('confirm_password').touched">Password does not match</small>


            </div>
            <div class="form-group">
              <button class="btn" role="submit" type="submit" [disabled]="RegisterForm.invalid">Register</button>
            </div>

            <pre>
              {{RegisterForm.value | json}}
            </pre>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          </form>
        </div>
        <div class="col-md-4 options">
        </div>
      </div>
    </div>
    <div class="col-md-3">


      <div class="questions">
        <h4>Questions?</h4>
        <p>We're here to help answer your questions or take your application over the phone.</p>
        <span>(888) 828-5717</span>
        <p><a href="email-support">Email support</a></p>
        <p><a href="click-to-chat">Click to Chat</a></p>

      </div>

    </div>
  </div>
</div>
