@import "../../../../main";



.container {

  margin-bottom: 50px;

}
.content-holder {

  .col-md-9 {

    padding: 30px;
  }

}


.has-error {

  color: $red;
}

small {
  width: 100%;
  display: block;
}