<div class="container">
  <div class="content-holder">
    <div class="col-md-9">
      <h1>Sign in</h1>

      <hr>
      <div class="row">
        <div class="col-md-6">

          <form (ngSubmit)="login(SignInForm.value, SignInForm.valid)" name="SignInForm"  novalidate [formGroup]="SignInForm">

            <div class="form-group">
              <label for="username">Email</label>
              <input type="text" id="username" name="username" class="form-control" formControlName="username"  placeholder="yours@example.com" required validateEmail>
              <small class="has-error" *ngIf="SignInForm.get('username').hasError('required') &&  SignInForm.get('username').touched">Enter your email</small>
              <small class="has-error" *ngIf="SignInForm.get('username').hasError('validateEmail') &&  SignInForm.get('username').touched && !SignInForm.get('username').hasError('required')" >Please enter a valid email address</small>

            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" formControlName="password"  placeholder="Password" required minlength="3">
              <small class="has-error" *ngIf="SignInForm.get('password').hasError('required') &&  SignInForm.get('password').touched">Enter your password</small>

              <small class="has-error" *ngIf="SignInForm.get('password').hasError('minlength') &&  SignInForm.get('password').touched">Password should be 3 or more characters</small>
            </div>

            <div class="form-group">
              <small *ngIf="error" class="alert alert-danger">{{error}}</small>
            </div>

            <div class="form-group">
              <button class="btn" role="submit" type="submit" [disabled]="SignInForm.invalid">Sign in</button>
            </div>
          </form>
        </div>
        <div class="col-md-6 options">
          <button class="btn btn-alt btn-success" (click)="forgotPasswordModal.open()">Forgot Password</button>
          <button class="btn btn-alt btn-success" (click)="goToRegisterView()">Register now</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">

      <h4>Questions?</h4>
      <p>We're here to help answer your questions or take your application over the phone.</p>
      <span>(888) 828-5717</span>
      <p><a href="email-support">Email support</a></p>
      <p><a href="click-to-chat">Click to Chat</a></p>
    </div>
  </div>
</div>

<modal #forgotPasswordModal>
  <modal-header>
    <h4>Forgot Password</h4>
  </modal-header>
  <modal-content>
    <form (ngSubmit)="forgotPassword(ForgotPasswordForm.value, ForgotPasswordForm.valid)" name="ForgotPasswordForm"  [formGroup]="ForgotPasswordForm" novalidate>
      <div class="form-group">
        <small *ngIf="error" class="alert alert-danger">{{error}}</small>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" formControlName="username" required placeholder="yours@example.com">
        <small class="has-error" *ngIf="ForgotPasswordForm.get('username').hasError('required') &&  ForgotPasswordForm.get('username').touched">Enter your email</small>
      </div>
      <div class="form-group">
        <button class="btn" role="submit" type="submit" [disabled]="ForgotPasswordForm.invalid">Retrieve Password</button>
      </div>

    </form>
  </modal-content>
  <modal-footer>
  </modal-footer>
</modal>

