<div class="container">
  <div class="content-holder">
    <div class="col-md-9">
      <h1>Sign in</h1>

      <hr>

      <div class="row">
        <div class="col-md-6">

          <form (ngSubmit)="f.form.valid && login()" novalidate name="SignInForm" #f="ngForm">
            <div class="form-group">
              <label for="email_address">Email Address</label>
              <input type="text" id="email_address" name="email_address" class="form-control" [(ngModel)]="model.username" #username="ngModel" required>
              <div *ngIf="f.submitted && !username.valid" class="has-error">Username is required</div>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required >
              <div *ngIf="f.submitted && !password.valid" class="has-error">Password is required</div>
            </div>
            <div class="form-group">
              <button class="btn" role="submit" type="submit">Sign in </button>
            </div>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          </form>
        </div>
        <div class="col-md-6 options">

          <p>Having trouble?</p>

          <hr>
          <button class="btn btn-alt btn-success">Forgot Password</button>
          <button class="btn btn-alt btn-success">Register now</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">

      <h4>Questions?</h4>
      <p>We're here to help answer your questions or take your application over the phone.</p>
      <span>(888) 828-5717</span>
      <p><a href="email-support">Email support</a></p>
      <p><a href="click-to-chat">Click to Chat</a></p>
    </div>
  </div>
</div>

