@import "../../../../main";

nav {

  .container {

    @include breakpoint($mobilePortrait) {

      padding-right: 0;
      padding-left: 0;
    }
  }
  &.affix {
    border-color: #e0e0e0;
    background: #fff;
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 8000 !important;

  }

  [hidden] {
    display: none !important;
  }

  &.stickyheader {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    color: #fff;
    width: 100%;
    z-index: 2;
    margin: 0;
    height: 74px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid transparent;
    -webkit-transition: background-color .3s ease, border-color .3s ease;
    transition: background-color .3s ease, border-color .3s ease;

    @include breakpoint($mobilePortrait) {

      height:  auto;
      display: block;

    }

    &.remove-hero {

      position: static;
      background-color: $white;

      .navbar-toggler {

        color: $darkgrey;
      }

      .sticky-header--layout {

        ul {

          li {

            a {

              color: $darkgrey;
              cursor: pointer;
              padding-bottom: 5px;

              @include breakpoint($mobilePortrait) {

                color: $white;
              }

              .logout {

                color: $lightgrey;
                font-size: 12px;
              }

              &.active {

                border-bottom: none;
              }

              &:link {

                color: $darkgrey;

                @include breakpoint($mobilePortrait) {

                  color: $white;
                }
              }

              &:hover {

                color: lighten($darkgrey, 10);
              }
            }

            .button {

              @extend .btn;
              color: $white !important;
            }
          }
        }

        ul.dropdown-menu {


          &.active{

            display: block;
          }

          li {


            &:last-child {

              float: left;
            }
          }
        }

      }
    }


    button {
      border: none;
      background: inherit;

    }

    .button {

      padding: 10px 10px !important;
      border: 1px solid $white;
      margin-left: 10px;

      @include breakpoint($mobilePortrait) {

        display: block;
        margin-top: 10px;
        border: none;
        margin-left: 0;
      }

    }


    .navbar-toggler {

      font-size: 35px;
      float: right;
      z-index: 999;
      position: absolute;
      right: 0;
      top: -2px;
      display: none;

      @include breakpoint($mobilePortrait) {

        display: block;
      }
    }



    .sticky-header--layout {

      @include breakpoint($mobilePortrait) {

        background-color: #222222;
        padding: 10px;
        text-align: left;

        display: none;
        position: absolute;


        &.collapsed {

          display: block;
          width: 100%;
          z-index: 997;
        }
      }

      ul {
        padding: 0;

        li {

          list-style: none;
          display: inline-block;
          margin: 5px 0;
          padding: 5px;


          @include breakpoint($mobilePortrait){

            display: block;
            border-bottom: 1px dashed #4d4d4d;
          }

          a {

            color: $white;
            cursor: pointer;
            padding-bottom: 5px;
            position: relative;

            &.active {

              border-bottom: 2px solid $white;
            }

            &:link {

              color: $white;
            }

            &:hover {

              color: darken($white, 10);
            }
          }

          &:last-child {

            float: right;


            @include breakpoint($mobilePortrait){

              float: none;
            }

            i {

              margin-right: 3px;
            }
          }
        }

      }
    }
  }
}
