


  <section class="row values">
    <div class="container">
      <div class="col-md-4">
        <div class="fa-container">
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </div>

        <div class="text-container">
          <h2>5* Rating</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fa-container">
          <i class="fa fa-usd" aria-hidden="true"></i>
        </div>
        <div class="text-container">
          <h2>$10 billion</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fa-container">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </div>
        <div class="text-container">
          <h2>10/10</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

      </div>
    </div>

  </section>

  <section class="row options">

    <div class="container">
      <div class="col-md-6">

        <div class="box">
          <h2>Terms loans</h2>
          <p>up to £500,000</p>
          <p>Rates as low as 5.99%</p>
        </div>

      </div>
      <div class="col-md-6">

        <div class="box">
          <h2>Lines of Credit</h2>
          <p>up to £100,000</p>
          <p>Rates as low as 13.99%</p>
        </div>

      </div>
    </div>
  </section>

  <section class="row decision-steps">

    <div class="container">
      <h1 class="text-center">Decisons in minutes</h1>
      <div class="col-md-4">

        <i class="fa fa-laptop" aria-hidden="true"></i>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque ea expedita facere fuga fugit iste laboriosam laudantium magni non nostrum, odit placeat praesentium quasi reiciendis reprehenderit totam veniam voluptatibus?</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-check" aria-hidden="true"></i>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque ea expedita facere fuga fugit iste laboriosam laudantium magni non nostrum, odit placeat praesentium quasi reiciendis reprehenderit totam veniam voluptatibus?</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-money" aria-hidden="true"></i>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque ea expedita facere fuga fugit iste laboriosam laudantium magni non nostrum, odit placeat praesentium quasi reiciendis reprehenderit totam veniam voluptatibus?</p>
      </div>
    </div>

  </section>

  <section class="row what-we-do">
    <div class="container">
      <div class="col-md-12">
        <h2>Why we do what we do</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquam, consectetur consequatur dignissimos dolores, explicabo illo iure maiores modi nulla perspiciatis porro quod reiciendis reprehenderit sequi similique unde. Animi, quasi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda beatae corporis cum debitis delectus eum explicabo fugit incidunt labore libero maiores omnis, ratione recusandae, repudiandae similique sunt vitae! Iste.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam cupiditate, eligendi esse, facilis inventore, labore magni maiores modi necessitatibus neque nesciunt nihil nostrum quisquam recusandae repellendus sit temporibus totam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda blanditiis commodi corporis cumque deserunt, earum expedita fuga fugiat illum impedit ipsa neque, nihil possimus quibusdam reprehenderit unde vel voluptas.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem debitis dolore fugit laborum laudantium nobis officiis quas quos repellat similique. Excepturi exercitationem ipsum iusto labore necessitatibus numquam officiis perspiciatis quibusdam?</p>
      </div>
    </div>
  </section>
